@media screen and (max-width: 120000px) {
    .aboutPage {
        .mainDescribe {
            margin-top: 30px;
            line-height: 1.5;
        }
        .skillCont {
            margin-top: 30px;
            line-height: 1.5;
            .div1 {

            }
            .skills {
                list-style-type: none;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
                width: 350px;
                margin-top: 10px;
                li {
                    padding-left: 20px;
                    flex-basis: 120px;
                    flex-grow: 1;
                    position: relative;
                }
                li::before {
                    content: "▹";
                    position: absolute;
                    left: 0;
                    color: #08fdd8;

                }
            }
        }
    }
}