@media screen and (max-width: 120000px) {
    .homePage {
        
        .name {
            font-size: 60px;
            font-weight: 800;
            text-transform: capitalize;
            color: white;
            margin-top: 100px;
            letter-spacing: normal;
        }

        .dit1 {
            margin-top: 10px;
        }
        
        .routediv {
            margin-top: 10px;
            line-height: 2.3;
            a {
                text-decoration: none;
                color: #08fdd8;
            }
            a:hover {
                text-decoration: underline;
            }
        }


    }

}

@media screen and (max-width: 999px) {
    .homePage {
        .name {
            margin-top: 70px;
            font-size: 55px;
        }
    }
}

@media screen and (max-width: 590px) {
    .homePage {
        .name {
            font-size: 50px;
        }
    }
}

@media screen and (max-width: 500px) {
    .homePage {
        .name {
            font-size: 40px;
        }
    }
}