@media screen and (max-width: 120000px) {
  .homePage .name {
    font-size: 60px;
    font-weight: 800;
    text-transform: capitalize;
  }
}
@media screen and (max-width: 120000px) {
  .header {
    padding: 20px 0;
  }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    margin: 0 auto;
  }
  .header .container .burgerMenu {
    display: none;
    width: 26px;
    height: 26px;
    transition-duration: 0.5s;
    cursor: pointer;
    position: relative;
  }
  .header .container .burgerMenu .icon-left {
    left: 0;
    position: absolute;
    height: 3px;
    width: 13px;
    background-color: #212121;
  }
  .header .container .burgerMenu .icon-left:before {
    transition-duration: 0.5s;
    position: absolute;
    width: 13px;
    height: 3px;
    background-color: #212121;
    content: "";
    top: -9px;
  }
  .header .container .burgerMenu .icon-left:after {
    transition-duration: 0.5s;
    position: absolute;
    width: 13px;
    height: 3px;
    background-color: #212121;
    content: "";
    top: 9px;
  }
  .header .container .burgerMenu .icon-right {
    position: absolute;
    height: 3px;
    width: 13px;
    background-color: #212121;
    right: 0;
  }
  .header .container .burgerMenu .icon-right:before {
    transition-duration: 0.5s;
    position: absolute;
    width: 13px;
    height: 3px;
    background-color: #212121;
    content: "";
    top: -9px;
  }
  .header .container .burgerMenu .icon-right:after {
    transition-duration: 0.5s;
    position: absolute;
    width: 13px;
    height: 3px;
    background-color: #212121;
    content: "";
    top: 9px;
  }
  .header .container .burgerMenu.open .icon-left {
    transition-duration: 0.5s;
    background: transparent;
  }
  .header .container .burgerMenu.open .icon-left:before {
    transform: rotateZ(45deg) scaleX(1.2) translate(2.5px, 2px);
  }
  .header .container .burgerMenu.open .icon-left:after {
    transform: rotateZ(-45deg) scaleX(1.2) translate(2.5px, -2px);
  }
  .header .container .burgerMenu.open .icon-right {
    transition-duration: 0.5s;
    background: transparent;
  }
  .header .container .burgerMenu.open .icon-right:before {
    transform: rotateZ(-45deg) scaleX(1.2) translate(-2.5px, 2px);
  }
  .header .container .burgerMenu.open .icon-right:after {
    transform: rotateZ(45deg) scaleX(1.4) translate(-2.5px, -2px);
  }
  .header .container .routesCont ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  .header .container .routesCont ul a {
    text-decoration: none;
    padding: 8px 15px;
    cursor: pointer;
    text-transform: capitalize;
    display: block;
    color: black;
  }
  .header .container .routesCont ul .routeActive {
    color: black;
    border-bottom: 1px solid black;
  }
  .header .container .routesCont ul .liBottomHover::after {
    content: "";
    display: block;
    margin: auto;
    left: 51%;
    right: 51%;
    height: 1px;
    width: 0px;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  .header .container .routesCont ul .liBottomHover:hover:after {
    background: black;
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .header .container {
    width: 960px;
  }
}
@media screen and (max-width: 999px) {
  .header {
    position: relative;
  }
  .header .container {
    display: flex;
    flex-wrap: wrap;
    width: 720px;
  }
  .header .container .logo {
    z-index: 999;
  }
  .header .container .burgerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  .header .container .visibleBar {
    visibility: visible;
    opacity: 1;
  }
  .header .container .routesCont {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    padding-top: 70px;
  }
  .header .container .routesCont ul {
    width: 720px;
    margin: 0 auto;
    display: block;
    width: fit-content;
    font-weight: 500;
  }
  .header .container .routesCont ul li {
    width: fit-content;
    margin: 3rem auto;
  }
  .header .container .routesCont ul li a {
    padding: 8px 15px;
  }
  .header .container .hideBar {
    visibility: hidden;
    opacity: 0;
  }
}
@media screen and (max-width: 767px) {
  .header {
    margin: 0 30px;
  }
  .header .container {
    display: flex;
    flex-wrap: wrap;
    max-width: 540px !important;
    width: 100%;
  }
  .header .container .routesCont {
    flex-basis: 100%;
    padding-top: 20px;
  }
  .header .container .routesCont ul {
    display: block !important;
    max-width: 540px;
    width: 100%;
    font-size: 23px;
    font-weight: bold;
  }
  .header .container .routesCont ul li a {
    text-transform: uppercase;
  }
}
@media screen and (max-width: 12000px) {
  .footer {
    padding: 20px 0;
  }
  .footer .socialCont {
    display: flex;
    gap: 30px;
  }
  .footer .socialCont a {
    color: #545454;
  }
  .footer .socialCont a svg {
    font-size: 20px;
  }
}
@media screen and (max-width: 999px) {
  .socialCont {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    backdrop-filter: blur(6px) saturate(2.5);
  }
  .socialCont a {
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
  }
  .socialCont a svg {
    font-size: 18px !important;
  }
}
@media screen and (max-width: 120000px) {
  .mainCont {
    max-width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
    margin-top: 30px;
  }
  .mainCont .container {
    width: 920px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media screen and (max-width: 1200px) {
  .mainCont {
    max-width: 930px;
  }
  .mainCont .container {
    width: 770px;
  }
}
@media screen and (max-width: 999px) {
  .mainCont {
    max-width: 690px;
  }
  .mainCont .container {
    width: 570px;
  }
}
@media screen and (max-width: 767px) {
  .mainCont {
    max-width: 510px;
  }
  .mainCont .container {
    max-width: 510px;
    width: 100%;
    padding: 0;
  }
}

/*# sourceMappingURL=App.css.map */
