@media screen and (max-width: 120000px) {
  .homePage .name {
    font-size: 60px;
    font-weight: 800;
    text-transform: capitalize;
  }
}
@media screen and (max-width: 120000px) {
  .header {
    padding: 50px 0;
  }
  .header .container {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    margin: 0 auto;
  }
  .header .container .burgerMenu {
    display: none;
  }
  .header .container .routesCont ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  .header .container .routesCont ul a {
    text-decoration: none;
    padding: 8px 15px;
    cursor: pointer;
    text-transform: capitalize;
    display: block;
  }
  .header .container .routesCont ul .liBottomHover::after {
    content: "";
    display: block;
    margin: auto;
    left: 51%;
    right: 51%;
    height: 1px;
    width: 0px;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  .header .container .routesCont ul .liBottomHover:hover:after {
    background: black;
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .header .container {
    width: 960px;
  }
}
@media screen and (max-width: 999px) {
  .header {
    position: relative;
  }
  .header .container {
    display: flex;
    flex-wrap: wrap;
    width: 720px;
  }
  .header .container .logo {
    z-index: 999;
  }
  .header .container .burgerMenu {
    display: block;
    z-index: 999;
  }
  .header .container .visibleBar {
    visibility: visible;
    opacity: 1;
  }
  .header .container .routesCont {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
  }
  .header .container .routesCont ul {
    display: block !important;
    width: 720px;
    margin: 0 auto;
    /* .routeBox {
        margin: 20px auto;
        text-align: center;
        width: fit-content;
        text-align: center;
    } */
  }
  .header .container .routesCont ul li {
    margin: 3rem auto;
    text-align: center;
  }
  .header .container .hideBar {
    visibility: hidden;
    opacity: 0;
  }
}
@media screen and (max-width: 767px) {
  .header .container {
    display: flex;
    flex-wrap: wrap;
    max-width: 540px !important;
    width: 100%;
  }
  .header .container .routesCont {
    flex-basis: 100%;
  }
  .header .container .routesCont ul {
    display: block !important;
  }
}
@media screen and (max-width: 12000px) {
  .footer {
    padding: 20px 0;
  }
  .footer .socialCont {
    display: flex;
    gap: 30px;
  }
  .footer .socialCont a {
    color: #545454;
    font-size: 20px;
  }
}
@media screen and (max-width: 999px) {
  .socialCont {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0px;
    right: 0px;
    width: 100%;
  }
}
@media screen and (max-width: 120000px) {
  .mainCont {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 30px;
  }
  .mainCont .container {
    width: 940px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=App.css.map */
